body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

button {
  /* background: limegreen; */
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  /* color: white; */
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

button::before {
  content: "";
  background: white;
  position: absolute;
  width: 10%;
  aspect-ratio: 1;
  inset: 0;
  margin: auto;
  transition: width 0s .2s;
  opacity: 0;
  border-radius: 50%;
  z-index: -1;
}

button:active::before {
  transition: .2s;
  width: 100%;
  opacity: .3;
}

.vert-bar button.long {
  flex-grow: 1;
}

.vert-bar {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

.horz-bar {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.no-gap {
  gap: 0;
}

.no-pad {
  padding: 0;
}

.center {
  align-items: center;
}

.fixicon {
  vertical-align: bottom;
}

.input input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.input {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input span {
  color: black;
  position: absolute;
  display: block;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: .5s;
  color: grey;
}

input.valid ~ span,
input:focus ~ span {
  border-radius: 5px;
  padding: 2px 6px;
  transform: translate(2px, -150%);
  font-size: 0.8rem;
}

input {
    border: 2px solid transparent;
    transition: .5s border-color;
}

.card-edit {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.card {
    border-radius: 10px;
    padding: 10px;
    position: relative;
    
    .options {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        color: hsl(200, 10%, 50%);
        
        /* & :nth-child(1) {
            color: hsl(0, 80%, 50%);
        } */
    }
}

h1 {
  margin: 0;
  border-bottom: 1px solid grey;
}

h2 {
  margin: 0;
}

nav {
  display: flex;
  background-color: var(--nav);
  height: 55px;
  align-items: center;
}

nav > span {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 1.rem;
}

nav div {
  margin-right: 10px;
}

nav .material-icons {
  padding: 5px;
  border-radius: 50%;
  margin-top: 5px;
}

nav .material-icons:active {
  background: hsl(0, 0%, 100%);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../google-fonts.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.radio {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.radio input {
  appearance: none;
  outline: 3px solid var(--primary);
  outline-offset: 3px;
  width: .9rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.radio input:checked {
  background: var(--primary);
}

.radio label {
  display: block;
  flex-grow: 1;
  margin-left: 10px;
}

.radio:has(input:checked) {
  outline: 1px solid var(--primary);
}

.sub {
  color: grey;
}

.fill {
  flex-grow: 1;
}

.border {
  border: 1.5px solid var(--primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  position: relative;
  background: var(--background-faint);
  overflow: hidden;
  --progress: 0;
}

.progress-bar::before {
  content: "";
  position: absolute;
  width: var(--progress);
  height: 100%;
  background: var(--primary);
  transition: width .5s;
}