:root {
  --background: white;
  --color: black;
  --primary: hsla(129, 93%, 48%, 1);
  --nav: hsla(0, 0%, 90%, 1);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--color);
  /* transition: .5s; */
}

button {
  background: limegreen;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

button::before {
  content: "";
  background: white;
  position: absolute;
  width: 10%;
  aspect-ratio: 1;
  inset: 0;
  margin: auto;
  transition: width 0s .2s;
  opacity: 0;
  border-radius: 50%;
  z-index: -1;
}

button:active::before {
  transition: .2s;
  width: 100%;
  opacity: .3;
}

.vert-bar button.long {
  flex-grow: 1;
  /* background: red; */
}

.vert-bar {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 20px;
}

.center {
  align-items: center;
}

.input input {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  border-color: grey;
  outline: none;
}

.input {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input span {
  color: black;
  position: absolute;
  display: block;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: .5s;
  color: grey;
}

input {
  background: var(--background);
}

input.valid ~ span,
input:focus ~ span {
  background: limegreen;
  color: white;
  border-radius: 5px;
  padding: 2px;
  transform: translate(2px, -150%);
  font-size: 0.8rem;
}

input:focus,
input.valid {
  border-color: limegreen;
}

.card {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px grey;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

h1 {
  margin: 0;
  border-bottom: 1px solid grey;
}

h2 {
  margin: 0;
}

nav {
  display: flex;
  /* background: hsl(0, 0%, 90%); */
  background-color: var(--nav);
  height: 55px;
  align-items: center;
}

nav > span {
  flex-grow: 1;
  padding-left: 10px;
  font-weight: 700;
}

nav div {
  margin-right: 10px;
}

nav .material-icons {
  padding: 5px;
  border-radius: 50%;
  margin-top: 5px;
}

nav .material-icons:active {
  background: hsl(0, 0%, 100%);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../google-fonts.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.radio {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.radio input {
  appearance: none;
  outline: 3px solid var(--primary);
  outline-offset: 3px;
  width: .9rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.radio input:checked {
  background: var(--primary);
}

.radio label {
  display: block;
  flex-grow: 1;
  margin-left: 10px;
}

.radio:has(input:checked) {
  outline: 1px solid var(--primary);
}