:root {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    margin: 0;
    padding: 0;
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

md-icon {
    --md-icon-font: 'Material Symbols Rounded';
    color: var(--md-sys-color-control-normal);
}

nav {
    display: flex;
    padding: 5px;
    align-items: center;

    .title {
        font-size: 20px;
        flex: 1;
    }

    .options {
        display: flex;
        gap: 5px;
        align-items: center;

        & span {
            position: relative;
            bottom: 7px;
            font-weight: 650;
        }
    }
}

#cards {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.card {
    background: var(--md-sys-color-surface-container);
    padding: 15px;
    border-radius: 10px;

    .word {
        font-weight: bold;
        font-size: 24px;
    }

    .meaning {
        margin-top: 10px;
    }

    .options {
        /* margin-top: 10px; */
        display: flex;
        flex-direction: row-reverse;
        color: var(--md-sys-color-on-surface-container);
    }
}

md-fab {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.sv {
    overflow-y: scroll;
}

.err {
    --md-text-button-label-text-color: var(--md-sys-color-error);
}